 <!-- Request -->
<div class="my-5">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs">https://frasesapi.vercel.app/v1/frases/buscar/?autor=&lt;str:autor&gt;</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
    <p class="text-sm">Devuelve una lista de frases de un autor <code
            class="text-secondary">response.autor</code> dentro del objeto <code
            class="text-secondary">response.frases</code></p>
    <pre><code class="lang-json shadow-lg rounded-bottom-3 text-xs">{
    
    "autor": "Steve Jobs",
    "frases": [
      {
        "autor": "Steve Jobs",
        "categoria": "celebres",
        "frase": "Tu tiempo es limitado, así que no lo pierdas viviendo la vida de otra persona.",
        "key": "stevejobsceleb01"
      },

      ...,
    ],
    "mensaje": "solicitud exitosa",
    "status": 200,
    "total": 4   
}</code></pre>
</div>

<script>hljs.highlightAll()</script>