 <!-- Request -->
 <div class="my-5">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs">https://frasesapi.vercel.app/v1/frases/aleatoria/?autor=&lt;str:autor&gt;</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
    <p class="text-sm">Devuelve un objeto de frase totalmente aleatoria de determinado autor. Por ejemplo <code class="text-secondary">autor="steve+jobs"</code></p>
    <pre><code class="lang-json shadow-lg rounded-bottom-3 text-xs">{
    "frase": {
        "autor": "Steve Jobs",
        "categoria": "exito",
        "frase": "La única manera de hacer un gran trabajo es amar lo que haces.",
        "key": "stevejobsexito01"
    }

}</code></pre>
</div>

<script>hljs.highlightAll()</script>