 <!-- Request -->
 <div class="my-5">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs">https://frasesapi.vercel.app/v1/frases/aleatoria</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
    <p class="text-sm">Devuelve un objeto de frase totalmente aleatoria</p>
    <pre><code class="lang-json shadow-lg rounded-bottom-3 text-xs">{
    "frase": {
        "autor": "Martin Luther King Jr.",
        "categoria": "celebres",
        "frase": "La oscuridad no puede expulsar a la oscuridad; solo la luz puede hacer eso. El odio no puede expulsar al odio; solo el amor puede hacer eso.",
        "key": "mlkceleb01"
        }  
}</code></pre>
</div>

<script>hljs.highlightAll()</script>