<div class="footer footer-center p-10 bg-base-200 text-base-content rounded">

<!--   <nav>
    <small>¿Encontraste algun error?, reportalo <a href="" class="badge badge-error text-content-error">acá</a></small>
  </nav> -->
  
  <div>
    <div class="grid grid-flow-col gap-4">
      <a href="" target="_blank">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v11/icons/github.svg" />
      </a>
    </div>
  </div>

  <div>
    <p>Copyright © 2024 - All right reserved by Juan Esparza [jesparzarom | esparzok]</p>
  </div>
</div>