<main>
    <h1 class="text-center text-xl md:text-3xl font-bold mt-5">DOCUMENTACIÓN</h1>
    <section class="px-5 md:px-20 lg:px-44 mt-5 mb-16">

        <!-------------------------------GENERALES---------------------------->
        <h2 class="text-xl md:text-3xl mt-10" id="bases">OBTENER LISTAS GENERALES</h2>
        <hr class="h-px my-8 bg-secondary border-0">
        <!-- todas las frases -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allQuotes.html"
                hx-target="#allQuotes" hx-trigger="load" hx-swap="innerHTML">
                frases
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allQuotes"></article>
            </div>
        </div>
        <!-- todos los autores -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allAuthors.html"
                hx-target="#allAuthors" hx-trigger="load" hx-swap="innerHTML">
                autores
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allAuthors"></article>
            </div>
        </div>
        <!-- todas las categorías -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allCategories.html"
                hx-target="#allCategories" hx-trigger="load" hx-swap="innerHTML">
                categorías
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allCategories"></article>
            </div>
        </div>




        <!-------------------------------BUSQUEDAS---------------------------->
        <h2 class="text-xl md:text-3xl  mt-10" id="queries">OBTENER BÚSQUEDAS</h2>
        <hr class="h-px my-8 bg-secondary border-0">

        <!-- todas las frases por autor -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allByAuthor.html"
                hx-target="#allByAuthor" hx-trigger="load" hx-swap="innerHTML">
                frases por autor
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByAuthor"></article>
            </div>
        </div>
        <!-- todas las frases por categoría -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allByCategorie.html"
                hx-target="#allByCategorie" hx-trigger="load" hx-swap="innerHTML">
                frases por categoría
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByCategorie"></article>
            </div>
        </div>
        <!-- todas las frases por autor y categoría -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/allByAuthorAndCategorie.html"
                hx-target="#allByAuthorAndCategorie" hx-trigger="load" hx-swap="innerHTML">
                frases por autor y categoría
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByAuthorAndCategorie"></article>
            </div>
        </div>


        <!-------------------------------ALEATORIAS---------------------------->
        <h2 class="text-xl md:text-3xl  mt-10" id="aleatorias">OBTENER FRASE ALEATORIA</h2>
        <hr class="h-px my-8 bg-secondary border-0">
        <!-- aleatoria -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/random.html"
                hx-target="#random" hx-trigger="load" hx-swap="innerHTML">
                frase aleatoria
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="random"></article>
            </div>
        </div>
        <!-- aleatoria por autor -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/randomByAuthor.html"
                hx-target="#randomByAuthor" hx-trigger="load" hx-swap="innerHTML">
                frase aleatoria por autor
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByAuthor"></article>
            </div>
        </div>
        <!-- aleatoria por categoría -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/randomByCategorie.html"
                hx-target="#randomByCategorie" hx-trigger="load" hx-swap="innerHTML">
                frase aleatoria por categoría
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByCategorie"></article>
            </div>
        </div>
        <!-- aleatoria por autor y categoría -->
        <div class="collapse collapse-plus bg-base-300 rounded-none">
            <input type="radio" name="codeAccordion" />
            <div class="collapse-title text-xl font-medium text-base-300-content"
                hx-get="https://jesparzarom.github.io/FrasEsApi-Docs/fragments/api_requests/randomByAuthorAndCategorie.html"
                hx-target="#randomByAuthorAndCategorie" hx-trigger="load" hx-swap="innerHTML">
                frase aleatoria por autor y categoría
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByAuthorAndCategorie"></article>
            </div>
        </div>

    </section>

    <section>
    </section>

</main>