
<main>
    <section class="sm:px-5 md:px-10 mt-10">

        <h2 class="text-3xl mb-5" id="bases">OBTENER LISTAS GENERALES</h2>
        <div class="collapse collapse-plus bg-neutral rounded-none shadow-lg">
            <input type="radio" name="my-accordion-1" checked="checked" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
                hx-get="../fragments/examples/allQuotes.html"
                hx-target="#allQuotes" hx-trigger="load" hx-swap="innerHTML">
                TODAS LAS FRASES
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allQuotes"></article>
            </div>
        </div>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/allAuthors.html"
            hx-target="#allAuthors" hx-trigger="load" hx-swap="innerHTML">
                TODOS LOS AUTORES
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allAuthors"></article>
            </div>
        </div>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/allCategories.html"
            hx-target="#allCategories" hx-trigger="load" hx-swap="innerHTML">
                TODAS LAS CATEGORÍAS
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allCategories"></article>
            </div>
        </div>

        <h2 class="text-3xl my-8" id="queries">OBTENER BÚSQUEDAS</h2>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/allByAuthor.html"
            hx-target="#allByAuthor" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASES POR AUTOR
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByAuthor"></article>
            </div>
        </div>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/allByCategorie.html"
            hx-target="#allByCategorie" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASES POR CATEGORÍA
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByCategorie"></article>
            </div>
        </div>
        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/allByAuthorAndCategorie.html"
            hx-target="#allByAuthorAndCategorie" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASES POR AUTOR Y CATEGORÍA
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="allByAuthorAndCategorie"></article>
            </div>
        </div>

        <h2 class="text-3xl my-8" id="aleatorias">OBTENER FRASES ALEATORIAS</h2>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/random.html"
            hx-target="#random" hx-trigger="load" hx-swap="innerHTML">
                OBTENER FRASE ALEATORIA
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="random"></article>
            </div>
        </div>

        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/randomByAuthor.html"
            hx-target="#randomByAuthor" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASE ALEATORIA POR AUTOR
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByAuthor"></article>
            </div>
        </div>
        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/randomByCategorie.html"
            hx-target="#randomByCategorie" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASE ALEATORIA POR CATEGORÍA
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByCategorie"></article>
            </div>
        </div>
        <div class="collapse collapse-plus bg-neutral rounded-none">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium text-neutral-content"
            hx-get="../fragments/examples/randomByAuthorAndCategorie.html"
            hx-target="#randomByAuthorAndCategorie" hx-trigger="load" hx-swap="innerHTML">
                BUSCAR FRASE ALEATORIA POR AUTOR Y CATEGORÍA
            </div>
            <div class="collapse-content overflow-auto bg-base-100">
                <article id="randomByAuthorAndCategorie"></article>
            </div>
        </div>

    </section>

</main>
