 <div>
    <p class="text-base font-thin leading-relaxed my-5">Devuelve una lista de autores dentro del objeto <code
        class="text-secondary">response.autores</code></p>
 </div>
 
 <!-- Request -->
 <div class="my-5">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs rounded-lg shadow">https://frasesapi.vercel.app/v1/frases/autores</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
<pre><code class="lang-json rounded-lg shadow-lg  text-xs">{
    
    "autores": [
        "Abraham Lincoln",
        "Alan Turing",
        "Albert Camus",
        ...,
    ],
    "mensaje": "solicitud exitosa",
    "status": 200,
    "total": 85   
}</code></pre>
</div>

<script>hljs.highlightAll()</script>