<div>
    <p class="text-base font-thin leading-relaxed my-5">Devuelve una lista de categorias dentro del objeto <code
            class="text-secondary">response.categorias</code></p>
</div>
<!-- Request -->
<div class="my-5">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs rounded-lg">https://frasesapi.vercel.app/v1/frases/categorias</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
    <pre><code class="lang-json shadow-lg rounded-lg text-xs">{
    {
        "categorias": [
            "amistad",
            "celebres",
            "exito",
            ...,
        ],
        "mensaje": "solicitud exitosa",
        "status": 200,
        "total": 8
      }
}</code></pre>
</div>

<script>hljs.highlightAll()</script>