<div>
    <p class="text-base font-thin leading-relaxed my-5">Devuelve una lista de frases dentro del objeto <code
        class="text-secondary">response.frases</code> con los campos
        "autor", "categoria", "frase", "key"</p>
    </div>
    <!-- Request -->
<div class="">
    <h3 class="font-bold">Request</h3>
    <pre><code
        class="lang-yaml text-xs rounded-lg shadow">https://frasesapi.vercel.app/v1/frases/</code></pre>
</div>

<!-- Responses -->
<div class="my-5">
    <h3 class="font-bold">Ejemplo de Response</h3>
    <pre><code class="lang-json shadow-lg text-xs rounded-lg">{
    "frases": [
        ...,    

        {
            "autor": "Zig Ziglar",
            "categoria": "exito",
            "frase": "El éxito es la suma de pequeños esfuerzos repetidos día tras día.",
            "key": "ziglarexito07"
        }
    ],
    "mensaje": "solicitud exitosa",
    "status": 200,
    "total": 207
}</code></pre>
</div>

<script>hljs.highlightAll()</script>